<div>
  <div class="min-w-full flex flex-col items-center">
    <h2 class="w-11/12 font-nunito text-xl font-bold ml-2">Add recipes to Saved</h2>
    <form #addForm="ngForm" (ngSubmit)="getQuery(addForm.value)" autocomplete="off"  class="w-full flex flex-col items-center">

      <input ngModel type="text"  name="title" class="bg-gray-50 w-11/12 px-5 py-4 rounded-md mb-3" placeholder="Title">

      <input ngModel type="number" name="readyInMinutes" class="bg-gray-50 w-11/12 px-5 py-4 rounded-md mb-3" placeholder="Number">

      <div class="bg-gray-800 w-10 h-10"  (click)="addIngredient()"></div>
      <div id="ingredients" class="flex w-full flex-col items-center">
        <input ngModel name="ingredient-1" type="text" class="bg-gray-50 w-11/12 px-5 py-4 rounded-md ingredient mb-3" placeholder="Add ingredient" value="">
      </div>

      <div class="bg-gray-800 w-10 h-10"  (click)="addDirection()"></div>
      <div id="directions" class="flex w-full flex-col items-center">
        <input ngModel name="direction-1" type="text" class="bg-gray-50 w-11/12 px-5 py-4 rounded-md direction mb-3" placeholder="Add direction" value="">
      </div>

      <div class="flex flex-col justify-around">
        <div>
          <input ngModel class="mr-2" type="checkbox" id="vegan" name="vegan">
          <label for="vegan">Vegan</label>
        </div>
        <div>
          <input ngModel class="mr-2" type="checkbox" id="vegetarian" name="vegetarian">
          <label for="vegetarian">Vegetarian</label>
        </div>
        <div>
          <input ngModel class="mr-2" type="checkbox" id="lowFodmap" name="lowFodmap">
          <label for="lowFodmap">LowFodmap</label>
        </div>
        <div>
          <input ngModel class="mr-2" type="checkbox" id="glutenFree" name="glutenFree">
          <label for="glutenFree">Gluten Free</label>
        </div>
      </div>

      <button class="px-3 py-2 bg-blue-400 rounded-md">Submit</button>
    </form>
  </div>
</div>
