<div>
  <img [src]="recipe.image" alt="No image" />

  <p>{{ recipe.title }}</p>

  <div *ngIf="(recipe.nutrition != undefined)" class="">
    <div *ngFor="let nutrition of recipe.nutrition.ingredients" class="">
      <p class="">{{ nutrition.name }} - {{ nutrition.amount }} {{ nutrition.unit }}</p>
    </div>
  </div>

  <div *ngIf="(recipe.nutrition == undefined)" class="">
    <div *ngFor="let nutrition of recipe.extendedIngredients" class="">
      <p class="">{{ nutrition.name }} - {{ nutrition.measures.us.amount}} {{ nutrition.measures.us.unitLong }}</p>
    </div>
  </div>

  <div *ngFor="let instruction of recipe.analyzedInstructions[0].steps" class="">
    <p class="">{{ instruction.step }}</p>
  </div>

  <div (click)="setRecipes(recipe)">{{ (setValue) ? 'set' : 'remove'  }}</div>

</div>
