<div class="w-full flex flex-col items-center">
  <div class="w-11/12 flex flex-col lg:justify-center lg:flex-row-reverse">

    <div class="relative w-full h-32 lg:mt-5 lg:mr-1 lg:w-h-124 bg-yellow-200">
      <div class="absolute w-full h-full bg-gradient-to-t from-black opacity-40 rounded-xl"></div>
      <div class="ml-4 flex absolute bottom-1">
        <img src="../assets/images/clock.png" alt="star"  class="w-4 h-4">
        <p class="ml-1 text-xs leading-relaxed font-semibold text-gray-200 ">{{ recipe.readyInMinutes }} min</p>
      </div>
      <div (click)="setRecipes(recipe)" class="absolute w-9 h-9 bg-white rounded-full light-shadow right-3 top-3 flex justify-center items-center cursor-pointer transform hover:scale-105">
        <img *ngIf="setValue == false" src="../assets/icons/star-yellow.svg" alt="star" class="w-4 h-4">
        <img *ngIf="setValue == true" src="../assets/icons/star.svg" alt="star"  class="w-4 h-4 opacity-10">
      </div>
      <img class="w-full h-full object-cover rounded-xl light-shadow" [src]="recipe.image" alt="No image">
    </div>

    <div class="lg:w-3/5">
        <h2 class="font-roboto text-2xl mt-2 ml-2">{{ recipe.title }}</h2>

        <div  class="flex mb-8 mt-2">
          <div *ngIf="recipe.vegan" class="flex justify-center items-center bg-white w-11 h-11 rounded-2xl light-shadow ml-2">
            <img src="../assets/images/vegan.png" alt="vegan"  class="w-6 h-6">
          </div>
          <div *ngIf="recipe.vegetarian" class="flex justify-center items-center bg-white w-11 h-11 rounded-2xl light-shadow ml-2">
            <img src="../assets/images/vegetarian.png" alt="vegetarian"  class="w-6 h-6">
          </div>
          <div *ngIf="recipe.glutenFree" class="flex justify-center items-center bg-white w-11 h-11 rounded-2xl light-shadow ml-2">
            <img src="../assets/images/glutenfree.png" alt="glutenFree"  class="w-6 h-6">
          </div>
          <div *ngIf="recipe.lowFodmap" class="flex justify-center items-center bg-white w-11 h-11 rounded-xl light-shadow ml-2">
            <img src="../assets/images/chicken.png" alt="lowFodmap"  class="w-6 h-6">
          </div>
        </div>

        <h2 class="font-nunito text-xl font-bold ml-2 mb-2">Ingredients</h2>
        <div *ngIf="(recipe.nutrition != undefined)" class="ml-2">
          <div *ngFor="let nutrition of recipe.nutrition.ingredients" class="">
            <div class="flex mb-1">
              <div class="w-2 h-2 mt-2 mr-2 rounded-sm bg-gray-900"></div>
              <p class="leading-tight font-roboto">{{ nutrition.name | titlecase }} - {{ nutrition.amount | round }} {{ nutrition.unit }}</p>
            </div>
          </div>
        </div>

        <div *ngIf="(recipe.nutrition == undefined)" class="ml-2">
          <div *ngFor="let nutrition of recipe.extendedIngredients" class="">
            <div class="flex mb-1">
              <div class="w-2 h-2 mt-2 mr-2 rounded-sm bg-gray-900"></div>
              <p class="leading-tight font-roboto">{{ nutrition.originalName | titlecase }} - {{ nutrition.amount | round }} {{ nutrition.unit }}</p>
            </div>
          </div>
        </div>

        <h2 class="font-nunito text-xl font-bold ml-2 mt-5 mb-1">Directions</h2>
        <div *ngFor="let instruction of recipe.analyzedInstructions[0].steps; let i = index" [attr.data-index]="i" class="ml-2">
          <div class="flex mb-2">
            <div class="w-8 h-8 mt-2 mr-2 rounded-md bg-gray-900 flex justify-center items-center"><p class="text-white font-nunito text-xl font-semibold">{{ i + 1 }}</p></div>
            <p class="ml-2 w-9/12 mt-2 font-roboto">{{ instruction.step | titlecase }}</p>
          </div>
        </div>
      </div>
    </div>
</div>
