<footer class="flex justify-center px-4 bg-white">
  <div class="container py-6">
      <div class="flex flex-col items-center justify-between mt-6 md:flex-row border-0 border-t border-gray-200 pt-5">
          <div>
              <a href="#" class="text-xl font-bold font-nunito">Cookalicious</a>
          </div>
          <div class="flex mt-4 md:m-0 font-roboto">
              <div class="mx-4">
                <a href="https://github.com/chas-academy/u07-recipe-app-EnzoBomark" target="_blank" class="px-4 text-sm">GitHub</a>
                <a href="https://www.linkedin.com/in/enzo-bomark-9046651b1/" target="_blank" class="px-4 text-sm">LinkedIn</a>
                <a href="https://enzobomark.com/" target="_blank" class="px-4 text-sm">Website</a>
                <a href="https://spoonacular.com/" target="_blank" class="px-4 text-sm">Spoonacular</a>
              </div>
          </div>
      </div>
  </div>
</footer>
