
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$u07-primary: mat-palette($mat-indigo);
$u07-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$u07-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$u07-theme: mat-light-theme((
  color: (
    primary: $u07-primary,
    accent: $u07-accent,
    warn: $u07-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($u07-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-nunito{
  font-family: 'Nunito', sans-serif;
}


.font-roboto{
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1024px) {
  .lg\:w-h-124 {
    height: 450px;
    width: 450px;
  }
}

.filter-input{
  height: 60px;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-bottom: 15px;
  background-color: #F9FAFB;

  &:active{
    background-color: #f3f3f3;
  }
}

input[type=radio]:checked + label > div{ border: 2px solid #111827; }

.light-shadow{
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.049), 0 2px 4px -1px rgba(0, 0, 0, 0.022);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

a{
  color: #333;
  text-decoration:none;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  padding: 7px 20px;
  cursor: pointer;

  &:hover{
    background: #666;
  }
}

#body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}
#body::-webkit-scrollbar-track {
    display: none;
}
#body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: lightgray;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
