<form [formGroup]="searchForm" (submit)="submit()" autocomplete="off" class="w-full mt-5 flex flex-col justify-center items-center">

  <div class="bg-gray-50 w-full px-5 py-4 rounded-md flex items-center">
    <button class="focus:outline-none mr-4 w-5 h-5"><img src="../assets/icons/loupe.svg" alt="Search"></button>
    <input type="text" name="query" placeholder="Search for recipes..." formControlName="query" class="bg-gray-50 w-4/5 focus:outline-none font-roboto">
  </div>

  <div class="font-roboto text-sm mt-1 w-10/12 text-right cursor-pointer select-none mb-5" (click)="showFilter()">add filters</div>

  <div *ngIf="filterBtnActive" class="bg-white w-full max-w-screen-xl absolute top-0 flex justify-center z-50">

    <div class="w-11/12">
      <div Class="h-12 w-12 rounded-xl light-shadow bg-white flex justify-center items-center mt-5" (click)="showFilter()"><img src="../assets/icons/left-arrow.svg" alt="Back" class="w-2/5 h-2/5"></div>

        <div class="flex flex-col  w-full my-5">
          <h2 class="font-nunito text-xl font-bold mb-2">Intolerances</h2>
          <span class="w-full" *ngFor="let item of intolerances">
            <input type="radio" id="{{ item }}" formControlName="intolerances"  value="{{ (item.includes('-') ? '' : item | lowercase) }}" class="hidden">
            <label for="{{ item }}" class="filter-input light-shadow flex items-center px-2 focus:outline-none">
              <div class="bg-white rounded-lg light-shadow h-10 w-10 flex justify-center items-center radio">
                <img class="h-7 w-7" [src]="'../../assets/images/'+ item.replace(' ', '').toLowerCase() +'.png'"/>
              </div>
              <p class="pl-5 pt-3 font-roboto font-normal">{{ (item.includes('-') ? item.split('-').shift() : item ) }}</p>
            </label>
          </span>
        </div>

        <div class="flex flex-col  w-full my-5">
          <h2 class="font-nunito text-xl font-bold mb-2">Cuisine</h2>
          <span class="w-full" *ngFor="let item of cuisine">
            <input type="radio" id="{{ item }}" formControlName="cuisine"  value="{{ (item.includes('-') ? '' : item | lowercase) }}" class="hidden">
            <label for="{{ item }}" class="filter-input light-shadow flex items-center px-2 focus:outline-none">
              <div class="bg-white rounded-lg light-shadow h-10 w-10 flex justify-center items-center radio">
                <img class="h-7 w-7" [src]="'../../assets/images/'+ item.replace(' ', '').toLowerCase() +'.png'"/>
              </div>
              <p class="pl-5 pt-3 font-roboto font-normal">{{ (item.includes('-') ? item.split('-').shift() : item ) }}</p>
            </label>
          </span>
        </div>

        <div class="flex flex-col  w-full my-5">
          <h2 class="font-nunito text-xl font-bold mb-2">Type</h2>
          <span class="w-full" *ngFor="let item of type">
            <input type="radio" id="{{ item }}" formControlName="type"  value="{{ (item.includes('-') ? '' : item | lowercase) }}" class="hidden">
            <label for="{{ item }}" class="filter-input light-shadow flex items-center px-2 focus:outline-none">
              <div class="bg-white rounded-lg light-shadow h-10 w-10 flex justify-center items-center radio">
                <img class="h-7 w-7" [src]="'../../assets/images/'+ item.replace(' ', '').toLowerCase() +'.png'"/>
              </div>
              <p class="pl-5 pt-3 font-roboto font-normal">{{ (item.includes('-') ? item.split('-').shift() : item ) }}</p>
            </label>
          </span>
        </div>

        <div class="flex flex-col  w-full my-5">
          <h2 class="font-nunito text-xl font-bold mb-2">Diet</h2>
          <span class="w-full" *ngFor="let item of diet">
            <input type="radio" id="{{ item }}" formControlName="diet"  value="{{ (item.includes('-') ? '' : item | lowercase) }}" class="hidden">
            <label for="{{ item }}" class="filter-input light-shadow flex items-center px-2 focus:outline-none">
              <div class="bg-white rounded-lg light-shadow h-10 w-10 flex justify-center items-center radio">
                <img class="h-7 w-7" [src]="'../../assets/images/'+ item.replace(' ', '').toLowerCase() +'.png'"/>
              </div>
              <p class="pl-5 pt-3 font-roboto font-normal">{{ (item.includes('-') ? item.split('-').shift() : item ) }}</p>
            </label>
          </span>
        </div>
    </div>

  </div>

</form>
